* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-weight: 500;
  line-height: 1;
  font-size: 14px;
  font-family: Montserrat;
  color: #252b42;
  background-color: #FAFAFA;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------------------------------------------------------*/

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  max-width: 1046px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 15px;
}
._ibg{
  position: relative;
}
._ibg img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
/*-----------------------------------------------HEADER---------------------------------------------------*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  justify-content: space-between;
  min-height: 104px;
  align-items: center;
}
@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header__menu {
  margin: 0px 0px 0px 133px;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0 0 0 20px;
  }
}
.menu {
  padding: 15px 0;
  display: unset;
}
.menu__mobile {
  display: none;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item:not(:last-child) {
  margin: 0 21px 0 0;
}
.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: calc(24 / 14 * 100%);
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}
@media (max-width: 669px) {
  .header__logo {
    font-size: 40px;
  }
  .menu {
    display: none;
  }
  .menu__mobile {
    display: unset;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    right: 20px;
    width: 26px;
    height: 26px;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: gray;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 120px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }
  #menu__toggle:checked ~ .menu__btn {
    position: fixed;
    right: 35px;
    top: 2.5%;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color: #fff;
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #fff;
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }
}
/*-----------------------------------------------PAGES---------------------------------------------------*/
.page {
  flex: 1 1 auto;
}
.page__cards {
  margin-top: -111px;
  position: relative;
  z-index: 2;
}
.page__design {
}
.page__advice {
}
.page__we {
}
.page__contacts {
}
.page__contact {
  background-color: #fff;
}
.page__bottom {
  background-color: #252B42;
}
/*-----------------------------------------------MAIN-BLOCK---------------------------------------------------*/
.main-block {
  position: relative;
}
.main__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
.main__body > *:not(:last-child){
  margin-bottom: 35px;
}
@media (max-width:992px){
  .main__body{
    padding: 120px 0 191px 0;
  }
}
.main__title {
  font-size: 58px;
  line-height: calc(80 / 58 * 100%);
  font-weight: 800;
  letter-spacing: 0.2px;
}
@media (max-width:479px){
  .main__title{
    font-size: 42px;
  }
}
.main__text {
  color: #737373;
  font-size: 20px;
  line-height: 1.5;
}
.main__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}
.main__button:not(:last-child){
  margin-right: 10px;
}
.main__button {
  background-color: #ff7b47;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 36px;
  min-height: 48px;
  letter-spacing: 0.2px;
  color: white;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  margin: 10px 0;
}
.main__button_solid:hover{
  background-color: #fff;
  color: #ff7b47;
}
.main__button_solid:active{
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
@media (max-width:479px){
  .main__button{
    flex: 1 1 100%;
  }
  .main__button:not(:last-child){
    margin-right: 0;
  }
}
.main__button_border {
  border: 1px solid #0d5c63;
  background-color: transparent;
  color: #0d5c63;
}
.main__button_border:hover{
  background-color: #fff;
}
.main__button_border:active{
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.main__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width:1300px){
  .main__image img{
    object-position: right;
  }
}
@media (max-width:992px){
  .main__image img{
    opacity: 0.5;
  }
}
/*-----------------------------------------------CARDS---------------------------------------------------*/
@media (min-width:670px){
  .cards__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
  }
}
.cards__column {
  flex: 0 1 33.333%;
  margin: 0 0 30px 0;
}
@media (max-width:992px){
  .cards__column{
    flex: 0 1 50%;
  }
  .cards__column:last-child{
    flex: 0 1 100%;
  }
}
@media (min-width:670px){
  .cards__column {
    padding: 0 15px;
  }
}
.cards__item {
  min-width: 300px;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  padding: 35px;
  height: 100%;
}
@media (max-width:359px){
  .cards__item{
    min-width: 280px;
  }
}
.item-card>*:not(:last-child){
  margin: 0 0 10px 0;
}

.item-card_green{
  background-color: #0d5c63;
  color: #fff;
}
.item-card_green .itme-card__text{
  color: #fff;
}
.item-card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}
.itme-card__text {
  color: #737373;
  line-height: 142%;
}
/*-----------------------------------------------DESIGN---------------------------------------------------*/
.design__container {
  padding: 80px 0;
}
.design__tbody {
  text-align: center;
  letter-spacing: 0.2px;
  padding: 0 15px;
}
.design__title {
  font-size: 40px;
  line-height: calc(57/40*100%);
  font-weight: 700;
  color: #252B42;
  margin-bottom: 10px;
}
.design__text {
  margin: auto;
  font-size: 14px;
  line-height: calc(20/14*100%);
  font-weight: 500;
  color: #737373;
}
.dcard__column {
  flex: 0 1 25%;
  padding: 0 15px;
}
.dcard__item {
  background-color: #fff;
  min-width: 238px;
  height: 209px;
  padding: 30px;
}
.dcard__icon {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 48px;
  margin: auto;
}
.dcard__number {
  margin: 10px 0;
  color: #252b42;
  font-size: 40px;
  line-height: calc(57/40*100%);
  letter-spacing: 0.2px;
  font-weight: 700;
  text-align: center;
}
.dcard__caption {
  font-size: 16px;
  line-height: calc(24/16*100%);
  letter-spacing: 0.1px;
  text-align: center;
  font-weight: 700;
  color: #737373;
}
@media (min-width:670px){
  .dcard__column {
    padding: 0 15px;
  }
  .design__cards {
    display: flex;
    flex-wrap: wrap;
    margin: 50px -15px -30px;
  }
}
@media (max-width:670px){
  .design__cards{
    margin-top: 30px;
  }
  .dcard__column{
    padding: 0 0;
  }
}
@media (max-width:1100px){
  .dcard__column{
    flex: 0 1 50%;
  }
  .dcard__item{
    margin-bottom: 30px;
  }
  .design__container{
    padding: 40px 15px;
  }
}
/*-----------------------------------------------PRACTICE-ADVICE---------------------------------------------------*/
.advice__container {
  padding: 80px 0;
}
.advice__tbody{
  margin: 45px auto;
}
.acard__item{
  background-color: #fff;
  min-width: 238px;

}
.acard__text {
  padding: 30px 30px 50px;
  height: 203px; 
}
.advice__title {
  width: 135px;
  font-size: 16px;
  line-height: calc(24/16*100%);
  letter-spacing: 0.1px;
  font-weight: 700;
  color: #252B42;
}
.advice__text {
  margin: 15px 0 0;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  font-weight: 500;
  color: #737373;
}
.advice__image img{
  width: 100%;
}

@media (min-width:670px){
  .advice__cards {
    display: flex;
    flex-wrap: wrap;
    margin: 50px -15px -30px;
  }
  .acard__column {
    padding: 0 15px;
  }
}
@media (max-width:1100px){
  .acard__item{
    margin-bottom: 30px;
  }
  .acard__column{
    flex: 0 1 50%;
  }
  .advice__container{
    padding: 40px 15px;
  }
}
@media (max-width:670px){
  .advice__container{
    padding: 0 15px;
  }
  .advice__cards{
    margin-top: 30px;
  }
}
/*-----------------------------------------------WHO-WE-ARE---------------------------------------------------*/
.we__container {
  padding: 100px 15px;
}
.we__tbody {
  margin-bottom: 100px;
}
.we__video-container {
  display: flex;
}
.we__video{
  margin-right: 120px;
}
.we__video img{
  width: 600px;
}
.we__right {
  padding-top: 20px;
}
.we__title {
  font-size: 40px;
  line-height: calc(57/40*100%);
  letter-spacing: 0.2px;
  font-weight: 700;
  color: #252B42;
}
.we__text{
  font-size: 14px;
  line-height: calc(20/14*100%);
  letter-spacing: 0.2px;
  font-weight: 500;
  color: #737373;
}
.we__points {
  margin-top:50px;
}
.point {
  display: flex;
}
.point:not(:first-child){
  margin-top: 30px;
}
.p__logo {
  margin-right: 20px;
}
.p__logo img{
  width: 32px;
}
.p__title {
  font-size: 16px;
  line-height: calc(24/16*100%);
  font-weight: 700;
  color: #252B42;
  margin-bottom: 5px;
}
.p__text {
  font-size: 14px;
  line-height: calc(20/14*100%);
  font-weight: 600;
  color: #737373;
}
@media (max-width:1100px){
  .we__video-container{
    flex-wrap: wrap;
    justify-content: center;
  }
  .we__video{
    margin: auto;
  }
  .we__right{
    text-align: center;
  }
  .we__points{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .point{
    justify-content: center;
    flex: 0 1 100%;
  }
}
@media (max-width:670px){
  .we__video{
    margin-right: 0;
    width: 100%;
  }
  .we__video img{
    width: 100%;
  }
}
/*-----------------------------------------------BRANDS---------------------------------------------------*/
.brand__container {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
.brand__col {
  flex: 0 1 calc(1/6*100%);
  padding: 0 25px;
  display: flex;
  align-items: center;
}
.brand__col:not(:last-child){
  margin-right: 30px;
}
.brand{
  width: 100%;
}
@media (max-width:1100px){
  .brand__container{
    padding: 0;
    flex-wrap: wrap;
  }
  .brand__col{
    margin: 20px 0;
    padding: 0 5px;
  }
  .brand__col:not(:last-child){
    margin-right: 0;
    margin: 10px;
  }
  
}
/*-----------------------------------------------EMAIL---------------------------------------------------*/
.email__container {
  padding: 20px 32px;
}
.email__box {
  background-color: #17213C;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.email__title {
  font-size: 24px;
  line-height: calc(32/24*100%);
  letter-spacing: 0.1px;
  font-weight: 700;
  color: #fff;
  margin-right: 30px;
  max-width: 40%;
}
.email__input {
  flex: 0 1 50%;
  display: flex;
  font-size: 14px;
  line-height: 200%;
}
.email__in {
  flex: 1 1 auto;
  border-radius: 5px 0 0 5px;
  padding: 20px 15px;
  color: #737373;
}
.email__submit {
  background-color: #FF7B47;
  transition-property: background-color;
  transition-duration: 0.5s;
  color: #fff;
  border: 1px solid #fff;
  min-width: 100px;
  height: 58px;
  border-radius: 0 5px 5px 0;
}
@media (max-width:800px){
  .email__box{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .email__title{
    max-width: 100%;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 0;
  }
  .email__input{
    flex: 0 1 100%;
  }
  .email__container{
    padding: 10px 0;
  }
}
@media (max-width:430px){
  .email__box{
    padding: 20px 0px;
  }
}
/*-----------------------------------------------CONTACTS---------------------------------------------------*/
.contacts__container {
  padding: 80px 32px;
  margin-bottom: 68px;
}
.contacts__tbody{
  margin-bottom: 80px;
}
.blocks {
  display: flex;
}
.block__column{
  width: 33.333%;
}
.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  padding: 50px;
  text-align: center;
  margin: 30px 0;
  transition-property: margin, background-color;
  transition-duration: 0.5s;
}
.block__icon {
  height: 72px;
  margin:auto;
}
.block__emails {
  color: #252B42;
  font-size: 14px;
  line-height: calc(24/14*100%);
  font-weight: 600;
  margin: 15px 0;
}
.block__support {
  font-size: 16px;
  line-height: calc(24/16*100%);
  color: #252B42;
  letter-spacing: 0.1px;
  font-weight: 700;
}
.block__button {
  padding: 10px 20px;
  margin: auto;
  margin-top:15px;
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: transparent;
  color: #FF7B47;
  font-size: 14px;
  line-height: calc(24/14*100%);
  letter-spacing: 0.2px;
  border: 1px solid #FF7B47;
  box-sizing: border-box;
  font-weight: 600;
  border-radius: 5px;
  max-width: 180px;
}
.block__button:hover{
  background-color: #FF7B47;
  color: #fff;
}
.central-block{
  margin: 0;
  height: 100%;
  background-color: #252B42;
}
.central-block .block__emails, .central-block .block__support{
  color:#fff;
}
.central-block .block__button{
  border: 1px solid #fff;
  color: #fff;
}
.central-block .block__button:hover{
  background-color: #fff;
  color: #252B42;
}
@media (max-width:1100px){
  .blocks{
    flex-direction: column;
  }
  .block__column{
    width: 100%;
  }
  .block{
    padding: 30px 15px;
  }
  .contacts__container{
    padding-bottom: 30px;
  }
}
/*-----------------------------------------------CONTACT-US---------------------------------------------------*/
.contact__container {
  padding: 40px 24px;
  display: flex;
  justify-content: space-between;
}
.contact__left {
  margin-left: 24px;
}
.contact__title {
  font-size: 24px;
  line-height: calc(32/24*100%);
  letter-spacing: 0.1px;
  color: #252B42;
  font-weight: 700;
  margin-bottom: 10px;
}
.contact__text {
  font-size: 14px;
  font-weight: 500;
  line-height: calc(20/14*100%);
  letter-spacing: 0.2px;
  color: #737373;
}
.contact__button {
  transition-property: background-color;
  transition-duration: 0.5s;
  margin-right: 24px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(28/24*100%);
  letter-spacing: 0.2px;
  padding: 15px 40px;
  background-color: #FF7B47;
  border-radius: 5px;
}
.contact__button:hover, .email__submit:hover{
  background-color: #fafafa;
  color: #ff7b47;
}
.contact__button:active, .email__submit:active{
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
@media (max-width:700px){
  .contact__container{
    flex-wrap: wrap;
  }
  .contact__left{
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
  }
  .contact__button{
    width: 100%;
    margin: 0 24px;
  }
}
/*-----------------------------------------------BOTTOM---------------------------------------------------*/
.bottom__container {
  display: flex;
  padding: 50px 0;
  color: #fff;
}
.bottom__item{
  margin-right: 30px;
}
.bottom__company {
}
.bottom__title {
  font-size: 16px;
  line-height: calc(24/16*100%);
  font-weight: 700;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
}
.qlink {
  color: #fff;
  font-size: 14px;
  line-height: calc(24/14*100%);
  font-weight: 600;
  letter-spacing: 0.2px;
}
.bottom__contacts {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.bottom__icon {
  margin-right: 10px;
}
.bottom__text {
  font-size: 14px;
  line-height: calc(24/14*100%);
  font-weight: 600;
  letter-spacing: 0.2px;
}
@media (max-width:1100px){
  .bottom__container{
    padding: 30px 15px;
  }
}
@media (max-width:830px){
  .bottom__container{
    flex-wrap: wrap;
    justify-content: center;
  }
  .bottom__item{
    width: 25%;
    margin-bottom: 20px;
  }
}
/*-----------------------------------------------FOOTER---------------------------------------------------*/
.foot__container {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}
.foot__text {
  color: #737373;
  font-size: 14px;
  line-height: calc(24/14*100%);
  letter-spacing: 0.2px;
  font-weight: 600;
}
.foot__icons {
  padding: 0 40px;
  display: flex;
  align-items: center;
}
.foot__icon:not(:last-child) {
  margin-right: 20px;
}
@media (max-width:1100px){
  .foot__container{
    padding-left: 15px;
  }
}
@media (max-width:500px){
  .foot__container{
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .foot__icons{
    margin-bottom: 15px;
  }
}