*{
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
body{
    height: 100%;
    box-sizing: border-box;
    overflow: hidden scroll;
    background-size: cover;
}
.header{
    width: 100%;
    height: 80px;
    background: rgb(196, 196, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(5px);
}
.nav-buttons_group{
    display: flex;
    position: relative;
    margin: 10px;
}
.nav-button:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.nav-button:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-button{
    margin: 0;
    width: 40px;
    height: 40px;
    border: none;
    background: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    box-shadow: none;
}
.nav-button:hover{
    background: rgba(236, 236, 236, 0.7);
}
.nav-image{
    width: 20px;
    pointer-events: none;
}
.dropdown_menu{
    width: 170px;
    position: absolute;
    background: #ececec;
    border: 1px solid gray;
    top: 45px;
    font-size: 18px;
    left: 0;
    border-radius: 0 10px 10px 10px;
    text-align: left;
    text-decoration: none;
}
.font-family_change{
    visibility: hidden;
}
.font-size_change{
    visibility: hidden;
}
.dropdown_menu p{
    padding: 0 10px;
    line-height: 200%;
}
.dropdown_menu p:first-child{
    border-top-right-radius: 10px;
}
.dropdown_menu p:last-child{
    border-radius: 0 0 10px 10px;
}
.dropdown_menu p:hover{
    background: rgb(182, 182, 182);
    cursor: pointer;
}
.text{
    padding-top: 80px;
    font-size: 24px;
    font-family: Arial;
    line-height: 200%;
    height: auto;
    box-sizing: border-box;
}
.text p, .text ul, .text ol{
    font-size: inherit;
    margin: 0 50px;
}
.text p:first-child{
    margin-top: 30px;
}
.text textarea{
    width: 100%;
    height: 800px;
    resize: none;
    border: none;
    padding: 20px 5px;
    font-size: 18px;
    overflow: hidden ;
    background: none;
}
.text textarea:focus {
    outline: none;
}
.style-area{
    font-family: Arial;
    position: absolute;
    top: -20000px;
    left: 50%;
    background: #ececec;
    border: 1px solid rgba(125, 125, 125, 0.5);
    border-radius: 10px;
    padding: 0 0 20px 0;
    overflow-x: hidden;
}
.random-colors_area{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: .2s margin-left;
}
.random-colors_area h2{
    width: 100%;
    margin: 0 25px;
    box-sizing: border-box;
    line-height: 50px;
}
.random-color{
    width: 60px;
    height: 60px;
    border: 1px solid rgba(125, 125, 125, 0.5);
    border-radius: 5px;
    margin: 5px;
}
.color-update{
    margin-top: 10px;
    padding: 10px 15px;
    background: #00c800;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vmin;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: .5s visibility, .5s opacity;
}
.image-select{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(125, 125, 125, 0.5);
    padding: 10px 25px 0;
    box-sizing: border-box;
    display: none;
    position: relative;
    align-items: center;
}
.select_text{
    display: flex;
    justify-content: center;
    position: absolute;
}
.select_text p{
    display: block;
    width: 70px;
    text-align: center;
    font-size: 22px;
    margin: 0 10px;
    cursor: pointer;
}
.celected_hightlight-select{
    position: absolute;
    width: 90px;
    height: 31px;
    left: 25px;
    background: #ececec;
    border: 1px solid rgba(125, 125, 125, 0.5);
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    transition: .2s left;
}
.choose-file{
    margin: 20px 0 0;
    cursor: pointer;
}
.image-button{
    height: 100px;
    background-size: cover;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}
.login-form{
    font-family: Arial;
    width: 500px;
    height: 260px;
    top: -20000px;
    margin-left: -250px;
    transition: .5s top;
    overflow: hidden;
}
.login-form h1{
    text-align: center;
    line-height: 60px;
    border-bottom: 1px solid rgba(125, 125, 125, 0.5);
}
.login-form input{
    margin: 10px 20px;
    width: 460px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgba(125, 125, 125, 0.5);
}
.login-form input:nth-child(2){
    margin-top: 20px;
}
.login-form input:focus{
    outline: none;
}
.login-button_area{
    display: flex;
    justify-content: center;
    width: 500px;
    padding: 10px 20px;
    box-sizing: border-box;
}
.login-form button{
    width: 100%;
    padding: 15px;
    font-size: 20px;
    margin-top: 0;
}
.alt-header{
    background: rgb(196, 196, 196);
    visibility: hidden;
}
.table-create_area{
    font-family: Arial;
    position: absolute;
    width: 700px;
    height: 415px;
    margin-left: -350px;
    top: -1000px;
    left: 50%;
    font-size: 16px;
    background: #ececec;
    border: 1px solid rgba(125, 125, 125, 0.5);
    border-radius: 10px;
    transition: .5s top;
}
.table-create_area h1{
    line-height: 200%;
    padding-left: 20px;
    border-bottom: 1px solid rgba(125, 125, 125, 0.5);
}
.container{
    display: flex;
    font-size: inherit;
}
.column{
    width: 50%;
    height: 435px;
    padding: 20px;
    box-sizing: border-box;
    font-size: inherit;
}
.column input, .column .some_selects{
    margin: 10px 0 20px;
    padding: 10px;
    border: 1px solid rgba(125, 125, 125, 0.5);
    border-radius: 5px;
    width: 310px;
    box-sizing: border-box;
    font-size: inherit;
}
.column .some_selects{
    width: 100%;
}
.column input:focus{
    outline: none;
}
.col_sm{
    width: 48%;
}
.column button{
    font-size: inherit;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    background: red;
    border: 1px solid rgba(125, 125, 125, 0.5);
}
.column select{
    cursor: pointer;
}
.column button:hover{
    color: white;
}
.column:last-child button{
    background: #00c800;
}
.text table{
    padding: 0;
    margin-left: 50px;
}
.list-create{
    top: -350px;
    width: 350px;
    margin-left: -175px;
    height: 300px;
    transition: .5s top;
}
.list-create .column{
    width: 100%;
    height: inherit;
}
.another_selects{
    margin: 10px 0 20px;
    padding: 10px;
    border: 1px solid rgba(125, 125, 125, 0.5);
    border-radius: 5px;
    width: 310px;
    box-sizing: border-box;
    font-size: inherit;
}