@font-face {
  font-family: 'digital-7';
  src: url('digital-7.ttf');
}
* {
  margin: 0;
  padding: 0;
  font-family: 'digital-7';
  color: #83eeff;
  text-shadow: 0 0 10px #83eeff;
}
button {
  cursor: pointer;
}
.wrap {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: 100vmin;
  background: #00001e;
}
.container__section {
  height: 31%;
  width: 100%;
  background: none;
  border: 1px solid #83eeff;
  box-sizing: border-box;
}
.current_date {
  font-size: 40px;
  text-align: center;
  line-height: 120px;
}
.current_time {
  font-size: 150px;
  text-shadow: 5px 5px #ff3131;
}
.section_stopwatch {
  display: flex;
  justify-content: center;
}
.stopwatch_box {
  margin: 50px 0;
  padding: 0 50px;
}
.stopwatch-display {
  margin-right: 150px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  font-size: 80px;
}
.stopwatch_buttons {
  display: flex;
  align-items: flex-end;
}
.stopwatch_button {
  background: none;
  width: 100px;
  height: 35px;
  font-size: 20px;
  margin: 0 5px;
  border-radius: 7px;
  border: 1px solid #83eeff;
}
.stopwatch-loop-display {
  margin-left: 150px;
  height: 200px;
  width: 400px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(131, 238, 255, 0.5);
  line-height: 50px;
  font-size: 40px;
  text-align: center;
  overflow-y: scroll;
}
.stopwatch-loop-display::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}
.stopwatch-loop-display::-webkit-scrollbar-thumb {
  background: #83eeff;
  border-radius: 10px;
}
.stopwatch-loop-display::-webkit-scrollbar-thumb:hover {
  background: rgba(131, 238, 255, 0.7);
}
.section_timer {
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}
.timer_box {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
.timer_settings {
  margin-right: 200px;
  text-align: center;
}
.timer_display {
  margin-left: 200px;
}
.timer-value {
  font-size: 120px;
  line-height: 100px;
}
.timer_button {
  width: 35px;
  height: 35px;
  background: none;
  height: 35px;
  font-size: 20px;
  margin: 0 5px;
  border-radius: 7px;
  border: 1px solid #83eeff;
}
.timer_alert {
  cursor: pointer;
  width: 900px;
  height: 200px;
  position: absolute;
  font-size: 150px;
  color: #ff3131;
  text-shadow: 0 0 10px #ff3131;
  border-radius: 30px;
  backdrop-filter: blur(15px);
  background: rgba(255, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -200px;
  transition: 0.2s bottom, 0.1s transform;
}
@media screen and (max-width: 1450px) {
  .stopwatch-loop-display, .stopwatch-display{
    margin: auto;
  }
  .stopwatch-loop-display{
    margin-right: 20px;
  }
  .timer_box{
    margin: auto;
  }
  .timer_box .stopwatch_button {
    margin-top: 20px;
    width: 60px;
  }
}
@media screen and (orientation: portrait) {
  .container__section{
    align-items: center;
  }
  .wrap{
    height: 100vmax;
  }
  .section_stopwatch{
    flex-wrap: wrap;
  }
  .stopwatch-loop-display, .stopwatch-display{
    margin: auto;
    width: 50%;
  }
  .stopwatch-loop-display{
    height: 30%;
  }
  .timer_alert {
    width: 80%;
    font-size: 600%;
  }
}