*{
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
.container__slideshow{
    margin: 60px auto 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 10px solid black;
    width: 1400px;
    height: 800px;
    transition: 1s background-image;
    overflow: hidden;
}
.nav_buttons{
    box-sizing: border-box;
    width: 100%;
    height: 740px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_bar{
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow_button{
    margin-top: 20px;
    width: 70px;
    height: 70px;
    box-sizing: content-box;
    color: rgba(0, 0, 0, 0.4);
    font-size: 50px;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 50%;
}
.play_button{
    position: absolute;
    font-size: 24px;
    left: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(236, 236, 236, 0.7);
}
.nav_bar input{
    opacity: 50%;
    cursor: pointer;
}
